<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" routerLink="./brands" [routerLinkActive]="['active']">Dashboard</a>
    <a class="nav-link" routerLink="./categories" [routerLinkActive]="['active']">Categories</a>
    <a class="nav-link" routerLink="./products" [routerLinkActive]="['active']">Products</a>
    <a class="nav-link" routerLink="./warehouses" [routerLinkActive]="['active']">Warehouses</a>
  </nav>
</div>
<router-outlet></router-outlet>