/* You can add global styles to this file, and also import other style files */


@import "theme/bootstrap/bootstrap";
@import "theme/spinner";
@import "theme/utils";
@import "theme/responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
  }
  
  .nav-underline .nav-link:hover {
    color: #007bff;
  }
  
  .nav-underline .active {
    font-weight: 500;
    color: #343a40;
  }